doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  if user
    p
      |Hello #{user.displayName}
      ||
      a(href="/logout") Logout
  else
    p
      a(href="/auth/linkedin") Login